In [3]:
!pip install numpy pandas

import numpy as np
import pandas as pd
heroes_information = pd.read_csv("heroes_information.csv")

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
###instalar desde anaconda navigator######
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python
!pip install pandasql

from pandasql import *

Requirement already satisfied: pandasql in /opt/anaconda3/lib/python3.12/site-packages (0.7.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (from pandasql) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

In [5]:
####para enlistar los documentos en el directorio#####
os.listdir()

['SQL Competition.ipynb', 'heroes_information.csv', '.ipynb_checkpoints']

In [6]:
pysqldf = lambda q: sqldf(q,globals())

In [8]:
query2 = " SELECT * FROM heroes_information limit 10"

In [13]:
pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

In [17]:
# Cuál es el nombre del primer superhéroe de la tabla heroes?
pregunta1 = """
SELECT Name
FROM heroes_information
LIMIT 1;
"""
pysqldf(pregunta1)

     name
0  A-Bomb

In [19]:
# Cuántas casas publicadoras existen?
pregunta2 = """
SELECT COUNT(DISTINCT Publisher)
FROM heroes_information;
"""
pysqldf(pregunta2)

   COUNT(DISTINCT Publisher)
0                         24

In [21]:
# Cuántos superhéroes miden más de 2 metros (200 cms)
pregunta3 = """
SELECT COUNT(*)
FROM heroes_information
WHERE Height > 200;
"""
pysqldf(pregunta3)

   COUNT(*)
0        59

In [23]:
# Cuántos superhéroes son humanos y miden más de 2 metros (200 cms)?
pregunta4 = """
SELECT COUNT(*)
FROM heroes_information
WHERE Height > 200 AND Race = 'Human';
"""
pysqldf(pregunta4)

   COUNT(*)
0        12

In [25]:
# Cuántos superhéroes pesan más de 100 lbs y menos de 200 lbs?
pregunta5 = """
SELECT COUNT(*)
FROM heroes_information
WHERE Weight > 100 AND Weight < 200;
"""
pysqldf(pregunta5)

   COUNT(*)
0        98

In [43]:
# Cuántos superhéroes tienen los ojos de color azul o rojo?
pregunta6 = """
SELECT COUNT(*)
FROM heroes_information
WHERE `Eye color` IN ('blue', 'red');
"""
pysqldf(pregunta6)

   COUNT(*)
0       271

In [55]:
# Cuántos superhéroes son Human, Mutant y tienen el pelo color Verde o son Vampiros con pelo Negro
pregunta7 = """
SELECT COUNT(*)
FROM heroes_information
WHERE (Race IN ('Human', 'Mutant') AND `Hair color` = 'Green')
   OR (Race = 'Vampire' AND `Hair color` = 'Black');
"""
pysqldf(pregunta7)

   COUNT(*)
0         5

In [49]:
# Cuál es el nombre del primer superhéroe si ordeno la tabla por raza en orden descendente?
pregunta8 = """
SELECT Name
FROM heroes_information
ORDER BY Race DESC
LIMIT 1;
"""
pysqldf(pregunta8)

             name
0  Solomon Grundy

In [51]:
# Cuántos superhéroes son de género masculino y cuántas de género femenino?
pregunta9 = """
SELECT Gender, COUNT(*)
FROM heroes_information
GROUP BY Gender;
"""
pysqldf(pregunta9)

   Gender  COUNT(*)
0    None        29
1  Female       200
2    Male       505

In [53]:
# Cuántas casas publicadoras tienen más de 15 superhéroes?
pregunta10 = """
SELECT COUNT(*)
FROM (
    SELECT Publisher
    FROM heroes_information
    GROUP BY Publisher
    HAVING COUNT(*) > 15
) AS subquery;
"""
pysqldf(pregunta10)

   COUNT(*)
0         4